<!-- prettier-ignore -->
<div id="{{ window_id }}" class="system-window">

  {% if show_back_btn %}
    <div class="back-btn" onclick="switch_to_main_window()"></div>
  {% endif %}

  <h1>
    Because you failed to complete
    <span id="punishment_task">Task name</span>, You must
    <span id="punishment">Punisment name</span>
  </h1>

  <div id="window-actions">
    <button id="decline-btn" class="system-button" onclick="switch_to_main_window()">Decline</button>
    <button id="accept-btn" class="system-button" onclick="handleAccept()">Accept</button>
  </div>

</div>

<script>
  function handleAccept() {
    parrent = document.getElementById("{{ window_id }}");
    punishment_name = parrent.querySelector("#punishment_task");
    punishment = parrent.querySelector("#punishment");

    console.log(punishment);
    console.log(punishment_name);
  }
</script>
